<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>회원 비밀번호 초기화</title>

        <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
        <script>

            $(document).ready(function(){

                $('form').on('submit', function(){

                    var password = $(this).find('input[name=password]').val();
                    var rePassword = $(this).find('input[name=rePassword]').val();

                    if(password != repassword){
                        alert(' 입력된 비밀번호가 일치하지 않습니다 ')
                        return false;
                    }
                });
            });

        </script>


    </head>
        <body>
                <h1>회원 비밀번호 초기화</h1>
                <div th:replace="/fragments/layout.html :: fragment-body-menu"></div>

                <div th:if="${result eq true}">
                    <form method="post">

                        <div th:text="${uuid}"></div>
                        <div th:text="${parameter}"></div>

                        <div>
                            <input type="password" name="password" placeholder="비밀번호 입력" required />
                        </div>
                        <div>
                            <input type="password" name="rePassword" placeholder="확인 비밀번호 입력" required />
                        </div>
                        <div>
                            <button type="submit">비밀번호 재설정</button>
                        </div>

                    </form>
                </div>
                <div th:if="${result eq false}">
                    <p> 입력값이 유효하지 않습니다.</p>
                    <div>
                        <a href="/">메인으로 이동</a>
                    </div>
                </div>




        </body>
</html>










